In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

import matplotlib.pyplot as plt
import seaborn as sns

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import re

In [49]:
df_2019 = pd.read_csv('h1b_datahubexport-2019.csv')
df_2018 = pd.read_csv('h1b_datahubexport-2018.csv')
df_2017 = pd.read_csv('h1b_datahubexport-2017.csv')

In [50]:
NAICS = pd.read_excel('2-6 digit_2017_Codes.xlsx')[1:].iloc[:, :3]

In [51]:
NAICS.columns = NAICS.columns.str.replace('  ', '')

In [53]:
df_2019 = df_2019.merge(NAICS, left_on = 'NAICS', right_on = '2017 NAICS US Code', how = 'left')

In [54]:
df_2018 = df_2018.merge(NAICS, left_on = 'NAICS', right_on = '2017 NAICS US Code', how = 'left')

In [56]:
df_2017 = df_2017.merge(NAICS, left_on = 'NAICS', right_on = '2017 NAICS US Code', how = 'left')

In [60]:
df_2017.Employer.value_counts().head(10)

AMAZON CORPORATE LLC            33
COGNIZANT TECH SOLNS US CORP    33
CAPGEMINI AMERICA INC           26
TECH MAHINDRA AMERICAS INC      24
TATA CONSULTANCY SVCS LTD       23
ACCENTURE LLP                   18
DELOITTE CONSULTING LLP         18
DELOITTE & TOUCHE LLP           17
INFOSYS LTD                     17
HONEYWELL INTERNATIONAL INC     17
Name: Employer, dtype: int64

In [65]:
df_2017.State.value_counts().head(10)

CA    9755
NY    5782
TX    4803
NJ    3199
IL    2428
MA    2295
FL    2186
VA    1741
MI    1676
PA    1569
Name: State, dtype: int64

In [68]:
df_2017['2017 NAICS US Title'].value_counts()

Professional, Scientific, and Technical Services                            21807
Health Care and Social Assistance                                            4840
Finance and Insurance                                                        2993
Educational Services                                                         2970
Information                                                                  2599
Wholesale Trade                                                              1462
Administrative and Support and Waste Management and Remediation Services      752
Construction                                                                  728
Other Services (except Public Administration)                                 621
Accommodation and Food Services                                               512
Real Estate and Rental and Leasing                                            485
Arts, Entertainment, and Recreation                                           304
Public Administration                                                         279
Mining, Quarrying, and Oil and Gas Extraction                                 265
Utilities                                                                     250
Agriculture, Forestry, Fishing and Hunting                                    125
Management of Companies and Enterprises                                       117
Name: 2017 NAICS US Title, dtype: int64