In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv('the-office-lines - scripts.csv')

In [11]:
df.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [8]:
df[df.deleted == True].season.value_counts()

2    1441
1     460
3      35
Name: season, dtype: int64